* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
/* Navbar CSS */
.nav-ul {
  padding: 5px;
  background-color: lightskyblue;
  & li {
    display: inline-block;
    margin: 5px 8px;
    font-size: 13px;
  }
  & a {
    padding: 3px;
    color: white;
    text-decoration: none;
    transition: color 0.7s ease;
  }
  a.active{
    color: orangered;
  }
  .userName{
    margin-left: 80%;
    font-weight: 500;
    color: rgb(26, 126, 121);
    text-transform: uppercase;
  }
}
.navLogo {
  width: 45px;
  float: left;
  margin: 10px 0 0 10px;
  border-radius: 20%;
}
.nav-right {
  text-align: right;
}

/* Footer CSS */
.footer {
  font-size: 13px;
  color: rgb(61, 61, 61);
  position: absolute;
  bottom: 0;
  padding: 5px;
  text-align: center;
  width: 100%;
  background-color: lightskyblue;
}

/* Commen CSS */
.Container {
  margin-top: 100px;
  margin-left: 38%;
}
.inputField {
  display: block;
  margin-top: 20px;
  padding: 8px;
  width: 300px;
  border: 1px solid lightskyblue;
}
button {
  margin-top: 20px;
  padding: 10px;
  width: 150px;
  background-color: lightseagreen;
  color: white;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: rgb(26, 126, 121);
}
p {
  font-size: smaller;
  margin-top: 13px;
}

/* Add product component */
.addBtn {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100px;
}
.addPtCont {
  margin-top: 15px;
}
.validationText {
  font-size: 10px;
  color: red;
  display: block;
  margin-bottom: -10px;
}
.conformationText {
  display: block;
  font-size: 14px;
  color: green;
  margin-top: 20px;
  margin-left: 27px;
}
.addProductBtn {
  float: right !important;
  width: 80px;
  margin: -46px 65px 20px 0;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 20px !important;
}
.addProductLink {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/* Product CSS */
.Product-list {
  text-align: center;
  justify-content: center;
  margin-top: 25px;

  .searchInput {
    font-size: 12px;
    padding: 3px 60px 2.5px 8px;
    margin-top: 20px;
    margin-left: 12%;
    width: 250px;
    border: 1px solid lightseagreen;
    border-radius: 10px;
    outline: none;
  }
  .searchProductBtn {
    font-size: 12px;
    padding: 3px;
    width: 55px;
    margin-left: -55px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .backProductBtn {
    font-size: 12px;
    padding: 3.2px;
    width: 100px;
    margin-left: 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
}
.Product-list table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;

  & th,
  & td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
  }
  & tr:nth-child(even) {
    background-color: #f1efef;
  }
  .deleteBtn {
    margin-top: 1px;
    padding: 3px;
    width: 50px;
    background-color: lightcoral;
    color: white;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .updateBtn {
    margin: 5px;
    padding: 3px;
    width: 50px;
    background-color: rgba(32, 178, 171, 0.859);
    border: none;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .updateBtn:hover {
    cursor: pointer;
    background-color: rgb(26, 126, 121);
  }
  .deleteBtn:hover {
    cursor: pointer;
    background-color: rgb(199, 84, 84);
  }
  .updateLink {
    text-decoration: none;
    color: white;
  }
}
/* emptyProduct Css */
.emptyProduct {
  margin-top: 46px;
  text-align: center;
  font-weight: 500;
  & span{
    margin-left: 10%;
  }
}

/* Profile CSS */
.user-profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
}

.user-profile-card__logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-profile-card__name {
  font-size: 18px;
  margin-bottom: 5px;
}

.user-profile-card__email {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.user-profile-card__logout {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-profile-card__logout:hover {
  background-color: #0056b3;
}