*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
/* Navbar CSS */
.nav-ul{
  padding: 5px;
  background-color: lightskyblue;
  & li{
    display: inline-block;
    margin: 5px 8px;
    font-size: 13px;
  }
  & a{
    padding: 3px;
    color: white;
    text-decoration: none;
    transition: color 0.7s ease;
  }
  a:hover{
    color: orangered;
  }
}
.navLogo{
  width: 45px;
  float: left;
  margin: 10px 0 0 10px;
  border-radius: 20%;
}
.nav-right{
  text-align: right;
}

/* Footer CSS */
.footer{
  font-size: 13px;
  color: rgb(61, 61, 61);
  position: absolute;
  bottom: 0;
  padding: 5px;
  text-align: center;
  width: 100%;
  background-color: lightskyblue;
}

/* Commen CSS */
.Container{
  margin-top: 100px;
  margin-left: 38%;
}
.inputField{
  display: block;
  margin-top: 20px;
  padding: 8px;
  width: 300px;
  border: 1px solid lightskyblue;
}
button{
  margin-top: 20px;
  padding: 10px;
  width: 150px;
  background-color: lightseagreen;
  color: white;
  border: none;
  transition: width 0.3s ease;
}
button:hover{
  cursor: pointer;
  background-color: rgb(26, 126, 121);

}
p{
  font-size: smaller;
  margin-top: 13px;
}

/* Add product component */
.addBtn{
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100px;
}
.addPtCont{
  margin-top: 15px;
}
.validationText{
  font-size: 10px;
  color: red;
  display: block;
  margin-bottom: -10px;
}
.conformationText{
  display: block;
  font-size: 14px;
  color: green;
  margin-top: 20px;
  margin-left: 27px;
}

/* Product CSS */
.Product-list{
  text-align: center;
  margin-top: 25px;
}
.Product-list table{
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;

  & th, & td{
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
  }
  & tr:nth-child(even){
    background-color: #dddddd;
  }
  .deleteBtn{
  margin-top: 1px;
  padding: 2px;
  width: 50px;
  background-color: lightcoral;
  color: white;
  border: none;
  }
  .updateBtn{
  margin: 5px ;
  padding: 2px;
  width: 50px;
  background-color: rgba(32, 178, 171, 0.859);
  border: none;
  }
  .updateLink{
    text-decoration: none;
    color: white;
  }
}
/* emptyProduct Css */
.emptyProduct{
  margin-top: 30px;
  text-align: center;
  font-weight: 500;
}